.footer-container {
    background-color: black;
    padding:3% 2%;
    color:white;
    
    
}
.footer-container h2 {
    color:white;
}
.footer-container i {
    color:white
}
.icone {
    display:flex;
    color: white;
    font-size:2em;
  justify-content:center;
}
.iconei{
    margin:0 1%;
}