#color{
    color:red;
    margin:0% 1%
}

.navbarre{

    justify-content:space-around;

}
ul li{
    list-style: none;
    margin:2% 0%
}
.header{
    padding:1% 0%
}
.logo-navbar{
    margin:0% 1%
}
